<appSettings>
  <add key="MailServer" value="dev-smtp.movierentals.com"/>
  <add key="FacebookAppId" value="381073295895344"/>
  <add key="FacebookAppSecret" value="d8d228c9fb52e15638f5d58cfb055fcf"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>